*,*::before,*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  /* background-color: darkgray; */
}

.container {
  width: 80%;
  margin: 0 auto;
}

h1 {
  /* color: white; */
  font-size: 5rem;

  padding: 1.5rem;
  text-align: center;
}

.message {
  font-size: 1.25rem;
  height: 1.25rem;
  margin: 1rem;
  text-align: center;
}

.rotate {
  display: block;
  margin: .25rem auto;
  padding: .1rem .25rem;
}

.boardContainer {
  display: flex;
  gap:3rem;
  
  height: 100vh;
  height: 100dvh;
  width: 100%;
}

.board {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  height: 30rem;
  width: 30rem;
}

.playerTwo {
  display: none;
}

.row {
  display: flex;
  flex-basis: 10%;
  width: 100%;
}

.tile {
  border: 1px solid black;
  flex-grow: 1;
  flex-basis: 10%;
}

.highlight {
  background-color: rgb(156, 255, 57);
}

.invalid {
  background-color: rgb(255, 118, 118);
  cursor: not-allowed;
}

.ship {
  background-color: gray;
}

.hit {
  background-color: rgb(255, 128, 149);
}

.miss {
  background-color: rgb(134, 223, 223);
}